<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <meta charset="UTF-8" /> -->
  <title>LOTR Quotes 🥳</title>

  <!-- Bootstrap for effects -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bilbo&family=Cormorant+Unicase:wght@400;500;600&display=swap"
    rel="stylesheet">
  <!-- FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>One does not simply quote LOTR.</h1>

  <!-- action is WHERE to send the request -->
  <div class="top--section">
    <div class="top--card">
      <h3>Add your own quote</h3>
      <form action="/quotes" method="POST">
        <input type="text" placeholder="Author name..." name="name" />
        <input type="text" placeholder="Precious quote..." name="quote" />
        <input type="text" placeholder="image" name="image" style="display: none;" value="https://www.indiewire.com/wp-content/uploads/2021/04/lord-of-the-rings-orc.png"/>
        <button type="submit">Submit</button>
      </form>
    </div>
    <button class="new-quote"> ➕ Add random quote</button> <!-- Can delete or move later -->
  </div>

  <div class="bottom--section">
   
    
    <!-- <%= quotes %> -->
    <ul class="quotes">
      <h2>QUOTES:</h2>
      <!-- Loop through quotes -->

      <% for(var i=0; i < quotes.length; i++) {%>
        <li class="quote" id=<%=quotes[i]._id %> >
          <div class="quote-content">
            <!-- Output name from the iterated quote object -->
            <img src=<%=quotes[i].image %> alt="" class="character-image">
            <span class="character">
              <%=quotes[i].name%>
            </span>:
            <!-- Output quote from the iterated quote object -->
            <span class="character--quote">
              <%=quotes[i].quote%>
            </span>            
          </div>
          <div>
            <button class="individual-delete"><span><i class="fa fa-trash" aria-hidden="true"></i></span></button>
            <button class="update-button" data-toggle="modal" data-target="#exampleModal"><span><i class="fas fa-edit"></i></span></button>
            <!-- <button type="button" class="btn btn-primary update-button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open -->
              <!-- modal for @mdo</button> -->
 
          </div>
        </li>
        
        <% } %>
    </ul>
  </div>

<!-- Bootstrap Edit Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">  
        <!-- <h5 class="modal-title" id="exampleModalLabel">New quote:</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="message-text" class="col-form-label ">New quote:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary send-message">Update quote</button>
      </div>
    </div>
  </div>
</div>
  <script src="/main.js"></script>
</body>

</html>


